<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <h1>
      <span>Test Tool v2</span>
    </h1>
    <span class="example-spacer"></span>
    <button mat-fab color="primary"
        matTooltip="Narzędzie do testów taryfikacji"
        aria-label="Button that displays a tooltip when focused or hovered over">
        <mat-icon class="example-icon">info</mat-icon>
</button>
    
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button>
      <mat-icon class="example-icon">cloud_upload</mat-icon>
      <span class="example-spacer"></span>
      <h1>
        Dodaj zestaw testów
      </h1>
    </button>
    <button mat-button (click)="usun()">
      <mat-icon class="example-icon">delete_forever</mat-icon>
      <span class="example-spacer"></span>
      <h1>
        Wyczyść dane
      </h1>
    </button>
  </mat-toolbar-row>
</mat-toolbar>